<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html %}
<body>
<div class="header">
    <a href="/index.html"><span>LightDoc 演示</span></a>
</div>
<div class="content">
    <div class="left">
        <input type="text" id="search" placeholder="搜索...">
        <div id="jstree" style="display: none">
            {% include gen_sidebar.html %}
        </div>
    </div>
    <div class="right">
        <div class="title" id="top">{{ page.title }}</div>
        <article id="page_md_content">
            <textarea style="display:none;" title="">{{ page.content }}</textarea>
        </article>
        <div class="backtop">
            <a href="#top">回到顶部</a>
        </div>

    </div>
</div>
<script src="{{ site.baseurl}}js/jquery-3.1.1.min.js"></script>
<script src="{{ site.baseurl}}js/highlight/highlight.min.js"></script>
<script src="{{ site.baseurl}}js/editor.md/lib/marked.min.js"></script>
<script src="{{ site.baseurl}}js/editor.md/lib/prettify.min.js"></script>
<script src="{{ site.baseurl}}js/editor.md/lib/flowchart.min.js"></script>
<script src="{{ site.baseurl}}js/editor.md/lib/raphael.min.js"></script>
<script src="{{ site.baseurl}}js/editor.md/lib/underscore.min.js"></script>
<script src="{{ site.baseurl}}js/editor.md/lib/sequence-diagram.min.js"></script>
<script src="{{ site.baseurl}}js/editor.md/lib/jquery.flowchart.min.js"></script>
<script src="{{ site.baseurl}}js/editor.md/editormd.min.js"></script>
<script src="{{ site.baseurl}}js/jsTree/jstree.js"></script>
<script src="{{ site.baseurl}}js/start.js"></script>
</body>
</html>
